.work-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "image-gallery work-text"
  ;
  padding: 50px;
  
}

.image-gallery {
  grid-area: image-gallery
}

.work-text-container {
  grid-area: work-text;
  padding: 10px;
  color: white;
}

