 @use "./variables" as var;

.work-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "image-gallery work-text"
  ;
  padding: 50px;
  
}

.image-gallery {
  grid-area: image-gallery
}



.work-text-container {
  grid-area: work-text;
  padding: 10px;
  font-family: var.$textbody-font;
  color: white;
}


h2 {
  font-family: var.$header-font;
}

p:hover {
  text-decoration: none;
  cursor:auto;
}